<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PMXInterface.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PMXInterface.My.MySettings>
            <setting name="lExpertMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndLangue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IndLangueNDC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="indUnitDimension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lJuridique" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="indUnitLongueur" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="indUnitContraintes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="indUnitModuleY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GammaMZero" serializeAs="String">
                <value>1.00</value>
            </setting>
            <setting name="GammaM1" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaM2" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="GammaC" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="GammaS" serializeAs="String">
                <value>1.15</value>
            </setting>
            <setting name="GammaP" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaVs" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="GammaVc" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="GammaM_fi" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaC_fi" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaV_fi" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaG_sup" serializeAs="String">
                <value>1.35</value>
            </setting>
            <setting name="GammaG_inf" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaQ" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Psi0_Q1" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="Psi1_Q1" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Psi2_Q1" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="lGammaV_unique" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="indUnitEffort" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="indUnitMoment" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EtaW" serializeAs="String">
                <value>1.00</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value/>
            </setting>
            <setting name="lNdCDispLoadCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lNdCShowDiagram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lNdCDispFM_ELU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lNdCDispFM_ELS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lNdCDispFM_ELF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lNdCCourbeHivoss" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lNdCDispSigmaCharges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lNdCDispMelMixte" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Psi0_Q2" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="Psi1_Q2" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Psi2_Q2" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="PorteeMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PorteeMax" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PorteeConsoleMin" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="RatioPorteeConsoleMax" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ThetaH" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EpDallePleineMin" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="RatioEpRenformisMax" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="EpDalleMixteMin" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="RhoCBetonLegerMin" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RhoCBetonLegerMax" serializeAs="String">
                <value>2200</value>
            </setting>
            <setting name="Norme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lLargeurEfficaceSimplifiee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lCompressionArma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EsArmatures" serializeAs="String">
                <value>210000</value>
            </setting>
            <setting name="dMaxNodes" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="nbMinNodesConsole" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="nbMinNodesTravee" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PsiLPermanent" serializeAs="String">
                <value>1.10</value>
            </setting>
            <setting name="PsiLRetrait" serializeAs="String">
                <value>0.55</value>
            </setting>
            <setting name="AgeT0SH_Dalle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AgeT0SH_Enrobage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AgeT0G1_Dalle" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="AgeT0G1_Enrobage" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="AgeT0G2_Dalle" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="AgeT0G2_Enrobage" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="lDessNumeros_CDC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessCharges_CDC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessInerties_CDC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessEffortT_CDC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessMoment_CDC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessDeformee_CDC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessValEnv_CDC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessNumeros_ELU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessCharges_ELU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessInerties_ELU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessEffortT_ELU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessMoment_ELU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessDeformee_ELU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessValEnv_ELU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessNumeros_ELF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessCharges_ELF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessInerties_ELF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessEffortT_ELF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessMoment_ELF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessDeformee_ELF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessValEnv_ELF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessNumeros_ELS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessCharges_ELS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessInerties_ELS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lDessEffortT_ELS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessMoment_ELS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessDeformee_ELS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lDessValEnv_ELS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RatioEpPredalleMax" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="NbMaxiEtaisP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="hslimmax" serializeAs="String">
                <value>0.650</value>
            </setting>
            <setting name="bappmin" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="tpinfmin" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="deltaCDev" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="GammaS_fi" serializeAs="String">
                <value>1.0</value>
            </setting>
        </PMXInterface.My.MySettings>
    </userSettings>
</configuration>
