<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PMXInterface.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PMXInterface.My.MySettings>
            <setting name="lExpertMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndLangue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IndLangueNDC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="indUnitDimension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lJuridique" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="indUnitLongueur" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="indUnitContraintes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="indUnitModuleY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GammaMZero" serializeAs="String">
                <value>1.00</value>
            </setting>
            <setting name="GammaM1" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaM2" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="GammaC" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="GammaS" serializeAs="String">
                <value>1.15</value>
            </setting>
            <setting name="GammaP" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaVs" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="GammaVc" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="GammaM_fi" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaC_fi" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaV_fi" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaG_sup" serializeAs="String">
                <value>1.35</value>
            </setting>
            <setting name="GammaG_inf" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="GammaQ" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Psi0" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="Psi1" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Psi2" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="lGammaV_unique" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="indUnitEffort" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="indUnitMoment" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EtaW" serializeAs="String">
                <value>1.00</value>
            </setting>
        </PMXInterface.My.MySettings>
    </userSettings>
</configuration>